[Desktop Entry]
Encoding=UTF-8
Name=LulaCoin
Comment=LulaCoin P2P Cryptocurrency
Comment[fr]=LulaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LulaCoin, eşten eşe kriptografik sanal para birimi
Exec=lulacoin-qt %u
Terminal=false
Type=Application
Icon=lulacoin128
MimeType=x-scheme-handler/lulacoin;
Categories=Office;Finance;
